<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.login_demo.dao.LoginMapper">
    <update id="updateUserName">
        UPDATE users
        SET userName = #{userName}
        WHERE id = #{id}
    </update>
    <update id="updateEmail">
        UPDATE users
        SET email = #{email}
        WHERE id = #{id}
    </update>
    <select id="selectUser" resultType="com.example.login_demo.pojo.User">
        SELECT id, userName, password, code, role, email
        FROM users
        WHERE userName = #{userName}
    </select>

    <insert id="insertUser" parameterType="com.example.login_demo.pojo.User">
        INSERT INTO users (userName, password, code, email, role) VALUES (#{user.userName}, #{user.password}, #{user.code}, #{user.email}, #{user.role})
    </insert>

    <select id="existUser" parameterType="String" resultType="Integer">
        SELECT count(*)
        FROM users
        WHERE userName = #{userName}
    </select>

    <select id="updatePassword" resultType="String">
        UPDATE users
        SET password = #{newPassword}
        WHERE id = #{id}
    </select>

    <select id="selectAllUser" resultType="com.example.login_demo.pojo.User">
        SELECT userName, role, email
        FROM users
    </select>

    <delete id="deleteUser" parameterType="String">
        DELETE
        FROM users
        WHERE userName = #{userName}
    </delete>
</mapper>